.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.bigred {
    font-family: "Courier New";
    font-style: italic;
    font-size: xx-large;
    color: red;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* custom code start*/
#EventLog b {
  color: #388e3c;
}
  
hr {
  margin: 1px 10px 1px 0px;
  border-top: 1px solid #eee;
}

.year-property-panel td {
  padding-bottom: 1rem;
}

/* custom code end*/

.e-schedule .e-schedule-toolbar .e-icon-schedule-print::before {
  content: '\e973';
}

.e-schedule .e-schedule-toolbar .e-icon-schedule-pdf::before {
  content: '\e7c8';
}

.custom-field-row {
  margin-bottom: 20px;
}

.multi-prop div {
  padding-left: 0;
  padding-top: 0;
}

.year-view.e-schedule .e-timeline-year-view .e-resource-column-table, .year-view.e-schedule .e-timeline-year-view .e-resource-left-td {
  width: 120px;
}

.inline-edit.e-schedule .e-timeline-view .e-resource-left-td, .inline-edit.e-schedule .e-timeline-month-view .e-resource-left-td {
  width: 150px;
}

.addicon {
  transform: scale(3.0);
  position: absolute;
  bottom: 20vh;
  right: 5vw;
  opacity: 1;
  color: #bd0909;
  width: 100px;
  height: 100px;
}

@import "../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-calendars/styles/material.css";
@import "../node_modules/@syncfusion/ej2-dropdowns/styles/material.css";
@import "../node_modules/@syncfusion/ej2-inputs/styles/material.css";
@import "../node_modules/@syncfusion/ej2-lists/styles/material.css";
@import "../node_modules/@syncfusion/ej2-navigations/styles/material.css";
@import "../node_modules/@syncfusion/ej2-popups/styles/material.css";
@import "../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-react-schedule/styles/material.css";
@import "../node_modules/@syncfusion/ej2-react-calendars/styles/material.css";
